.welcome-page {
  @include with-layout($susy $susy-debug) {
    @include show-grid;
  }

  @include phone {
    @include with-layout($susy-phone $susy-debug) {
      @include show-grid;
    }
  }
  @include container;
}
